<h1>Welcome to the AppComponent!</h1>
<!-- app.component.html -->
<h1>{{ title }}</h1>
<nav>
  <a routerLink="/mycomponent">My Component</a> |
  <a routerLink="/simplecomponent">Simple Component</a>

  <a routerLink="/parent">Parent</a>
  <a routerLink="/child">Child</a>
</nav>
<router-outlet></router-outlet> <!-- This is where routed components will render -->

<!-- /<router-outlet> is a directive used in the component
   template where routed components are dynamically displayed. It acts as a placeholder for routing views. -->

